footer.footer
  .footer__logo
    a.nav__el(href='/')
      img(src='/img/logo-green.png' alt='Natour logo')
  
  ul.footer__nav
    li: a(href='/Projects') About us    
    li: a(href='/involved') Become a part of BCR
    li: a(href='#') Contact
  p.footer__copyright &copy; by Alejandro Fernandez.