header.header

  nav.nav
    ul.nav__links 
      li.nav__item 
        a.nav__link(href='#section--1') Monk Parakeet
      li.nav__item
        a.nav__link(href='#section--2') Fiddle Crabs
      li.nav__item 
        a.nav__link(href='#section--3') Past/Current Projects 
      li.nav__item
        a.nav__link(href='#section--4') Get Involved Now
      li.nav__item 
        a.nav__link.nav__link--btn.btn--show-modal(href='#') Log In

  .header__tittle 
    h1 
      span.highlight Did</span> you<br>
      span.highlight Know?
    
    h4 There are Monk Parakeet and Fiddle Crabs in New York City
    button.btn--text.btn--scroll-to Learn more &DownArrow;
    img.header__img(src='hero.png' alt='Minimalist bird items')
    img.header__img(src='Fiddles-Crabas.jpg' alt='Minimalist crabs items')


