doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BCR Lab | #{tittle}
		link(href='/stylesheets/button_style.css' rel='stylesheet' type='text/css')
		//- script(src='/javascripts/buttons.js' type='text/javascript')

	body 
		.back
			a.btn(href='/') Back
		h1 Collaborate with pictures, audios or videos
		p Use the Query button to view or files
		div
			.buttons
				a#add.btn(href='data/add') Add 
				button#delete.btn Delete
				a#query.btn(href='data/search') Query
				

