doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title File Uploads #{tittle}
    script(src='/javascripts/data-upload.js' type='text/javascript')
    //- link(rel='stylesheet' type='text/css' href='stylesheets/style.css') LINK DOESN'T WORK 
    
    //- Form style retrieved from: Multi-Step Form with Progress Bar using jQuery and CSS3
    //-   https://www.sliderrevolution.com/resources/css-forms/
    
    style.
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);

      /*basic reset*/
      * {margin: 0; padding: 0;}

      html {        
        background: linear-gradient(rgba(94, 197, 118, 0.7), rgba(255, 203, 3, 0.7));
        font-family: montserrat, arial, verdana;
      }

      /*form styles*/
      form {
        width: 600px;
        margin: 50px auto;
        text-align: center;
        position: relative;
      }
      fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
      }

      /*inputs*/
      .input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }

      input::file-selector-button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }

      /*button*/
      button {
        width: 100px;
        background: #27AE60;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        text-decoration: none;
        font-size: 14px;
      }

      button:hover,
      button:focus {
        background: rgb(39, 174, 96, 0.7);
      }

      /*Select and Option*/
      select {
        background-color: white;
      }

      option {
        background-color: white;
        font-family: montserrat, arial, verdana !important;
        color: #666;
      }

      /*Text area*/
      textarea {
        resize: vertical;
        max-height: 140px;
        min-height: 60px;
      }

      /*headings*/
      h2 {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
      }
      h3 {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 10px;
        margin-top: 20px;
      }

  body

    .formbox
      form(method='POST' action='' enctype='multipart/form-data')
        fieldset
          h2 Upload a file
          h3 Step 1: Type your name and 3-letter acronym
          input#fname.input(type="text" placeholder="First Name" name='fname')
          input.input(type="text" placeholder="Last Name" name='lname')
          input.input(type="text" placeholder="3-letter Acronym" maxlength="3" name='acronym' oninput="this.value = this.value.toUpperCase()")
          h3 Step 2: Select type of animal
          select#animal.input(name='animal-list')
            option(value="" selected disabled) 
            option(value="monk_parakeet") Monk Parakeet 
            option(value='fiddler_crab') Fiddler Crab
          h3 Step 3: Type location coordinates 
          input.input(type="number" placeholder="Latitude" max="90" min="-90" name='latitude')
          input.input(type="number" placeholder="Longitude" max="180" min="-180" name='longitude')
          h3 Step 4: Select type of file
          select.input(name="file-types")
            option(value="" selected disabled) 
            option(value='image') Image
            option(value='audio') Audio
            option(value='video') Video
          h3 Step 5: Upload the file
          input.input(name='file' type='file')
          h3 Step 6: Give comments -optional-
          textarea.input(nate='comments' type='text' maxlength='300' placeholder='Comments')
          h3 Finally: Press Submit!
          button.action-button(type='submit') Submit
          


