extends base

block content 

  section#section--1.section 
    .section__title  
      h2.section__description Monk Parakeet
      h3.section__header Study Behaviour of Monk Parakeet Colonies
    
    .features
      
      img.features__img.lazy-img(src='images/nest.jpg' data-src='images/nest.jpg' alt='Nest')
      .features__feature 
        .features__icon 
          svg
            use(href='images/icons.svg#icon-camera')
        h5.features__header Photographic recordings 
        p We own a database with the locations of many colonies of monk parakeet in New york city.

      .features__feature
        .features__icon 
          svg 
            use(href='images/icons.svg#icon-compass')
        h5.features__header Map 
        p Easy visualization of each colony with our personalize map for easy access.

      img.features__img.lazy-img(src='images/map.png' data-src='images/map.png' alt='Map')

      img.features__img.lazy-img(src='images/audio.jpg' data-src='images/audio.jpg' alt='Audio')

      .features__feature 
        .features__icon 
          svg
            use(href='images/icons.svg#icon-feather')
        h5.features__header Audio Recordings
        p We study the diferent patters in the Monk Parakeet calls.
  
  section#section--2.section 
    .section__title 
      h2.section__description Fiddle Crabs
      h3.section__header Brooklyn Coasts are fill with Fiddle Crabs
      img(src='images/Fiddler-Crabs.jpg' alt='Minimalist crab items')
    
    .operations 
      .operations__tab-container 
      
      h2 Fiddlers are among the most abundant "large" animals in the marsh; as such, they are important regulators of primary production (Spartina-derived), and decomposition (bacteria and fungi). Fiddler crabs are also important in energy flow within the marsh. They are estimated to consume up to a third of the net production of an emergent marsh and may assimilate 10% of that amount.

      .operations__content.operations__content--2
        .operations__icon.operations__icon--2
          srg 

      .operations__content.operations__content--3
        .operations__icon.operations__icon--3
          srg
  
  section#section--3.section 
    .section__title.section__title--testimonials
      h2.section__description Nor sure yet?
      h3.section__header Our team is working in many project!

    .slider
      .slide 
        .testimonial 
          h5.testimonial__header Fiddle Crabs are the Best!
          blockquote.testimonial__text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            | Accusantium quas quisquam non? Quas voluptate nulla minima
            | deleniti optio ullam nesciunt, numquam corporis et asperiores
            | laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            | id alias reiciendis, perferendis facere pariatur dolore veniam
            | autem esse non voluptatem saepe provident nihil molestiae.
          address.testimonial__author 
            img.testimonial__photo(src='images/user-1.jpg' alt='Testimony')
            h6.testimonial__name Aarav Lynn
            p.testimonial__location San Francisco, USA 
      .slide 
        .testimonial 
          h5.testimonial__header Fiddle Crabs are the Best!
          blockquote.testimonial__text Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            | Accusantium quas quisquam non? Quas voluptate nulla minima
            | deleniti optio ullam nesciunt, numquam corporis et asperiores
            | laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            | id alias reiciendis, perferendis facere pariatur dolore veniam
            | autem esse non voluptatem saepe provident nihil molestiae.
          address.testimonial__author 
            img.testimonial__photo(src='images/user-2.jpg' alt='Testimony')
            h6.testimonial__name Miyan Miles
            p.testimonial__location London, UK 
      .slide 
        .testimonial
          h5.testimonial__header I like Birds!! 
          blockquote.testimonial__text Quisquam itaque deserunt ullam, quia ea repellendus provident,
            | ducimus neque ipsam modi voluptatibus doloremque, corrupti
            | laborum. Incidunt numquam perferendis veritatis neque repellendus.
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
            | deserunt exercitationem deleniti.
          address.testimonial__author
            img.testimonial__photo(src='images/user-3.jpg' alt='Testimony')
            h6.testimonial__name Francisco Gomez 
            p.testimonial__location Lisbon, Portugal

      button.slider__btn.slider__btn--left &larr;
      button.slider__btn.slider__btn--right &rarr;
      .dots 
    
  section.section.section--sign-up
    .section__title 
      h3.section__header 
      button.btn.btn--show-modal Log in

  .modal.hidden
    button.btn--close-modal &times;
    h2.modal__header Log in <br> in BCR Lab for
      span.highlight more features 
    
    form.modal__form
      label First Name 
      input(type='text')
      label Last Name 
      input(type='text') 
      label Email Address
      input(type='email')
      button.btn Next step &rarr;

  .overlay.hidden








      


  
                    
            