doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    style.
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);
      :root {
        --color-primary: #5ec576;
        --color-primary-darker: #4bbb7d;
        --color-secondary: #ffcb03;
        --color-secondary-opacity: #ffcd0331;
      }
      
      html  {        
        background: linear-gradient(rgba(94, 197, 118, 0.6), rgba(255, 203, 3, 0.4));
        font-family: montserrat, arial, verdana;
        height: 100%;
        width: 100%;
      }
      /*Back Button*/
      .back {
        display: flex;
        justify-content: flex-start;
      }
      .btn {
        padding: 0.8rem 2.5rem;
        background-color: var(--color-secondary);
        border: 0;
        font-size: medium;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      a {
        text-decoration: none;
        color: white;
      }
      .btn:hover {
        background-color: var(--color-secondary-opacity);
        }

      h1 {
        text-align: center;
      }
      /*Table*/
      .table_container {
        margin: 0.5rem;
        display: flex;
        justify-content: center;
      }

      .table td,
      .table th {
        padding: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
      }
      .table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 3px;
        overflow: hidden;
      }
      .table_head {
        background-color: rgb(39,82,20);
        background: var(--color-primary-darker);
        color: white;
        margin: 0;
      }
      .table_body td {
        margin: 10px;
      }
      .table_body tr:nth-child(odd) {
        background-color: rgb(230, 230, 230);
      }
      .table_body tr:nth-child(even) {
        background-color: white;
      }   
      
      /*Form*/
      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      form h2 {
        margin: 0;
      }

      #animal,
      #inputDate,
      #latitude,
      #longitude {
        margin: 0;
        margin-right: 1rem;
        margin-left: 1rem;
        height: 1.5rem;
      }
      #animal {padding: 0; height: 1.75rem;}



  body 
    .back
      a.btn(href='../data') Back
    h1 Search for your files
    form()
      h2 Search by
      select#animal(name='animal-list')
        option(value='' selected disabled)
        option(value='monk_parakeet') Monk Parakeet 
        option(value='fiddler_crab') Fiddler Crab
      input#inputDate(type='date')
      .location
        input#latitude(type='number' name='latitude' placeholder='Latitude' max='90' min='-90')
        input#longitude(type='number' name='longitude' placeholder='Longitude' max='180' min='-180')
        
    .table_container 
      table.table
        thead.table_head 
          tr.table_head_row 
            th ID
            th File Name 
            th File Type
            th Animal
            th Date
            th Longitude 
            th Latitude
            th Address
            th Uploaded By
        tbody.table_body 
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
          tr 
            td 123
            td myfile1 
            td video
            td Monk Parakeet 
            td 2023-04-06
            td 23.34554
            td 129.42333 
            td 987 Main St. Brooklyn NY 12345
            td CIP
        

       
    


