doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
      title File Uploads
      //- style.
      //-   body {
      //-     background-color: lightblue;
      //-   }
  body 
    h1 Upload a file | #{tittle}

    .input__form 
      form(method='POST' action='' enctype='multipart/form-data')
        .form__group
          label(for='fname') First Name: 
          input(type='text', placeholder='Name')
          <br>
          label(for='lname') Last Name: 
          input(type='text', placeholder='Last Name')
          <br>
          label(for='animal') Choose animal: 
          select#animal_list(name='animal-list')
            option(value='monk_parakeet') Monk Parakeet 
            option(value='fiddler_crab') Fiddler Crab
          <br>
          spam Location: 
          div
            label(for='latitude') Latitude: 
            input(type='number', placeholder='e.g. 40.771133') 
            <br>
            label(for='longitude') Longitude: 
            input(type='number', placeholder='e.g. -73.974187')
          <br>
          label(for='type_of_file') Type of file 
          select#file_types(name="file-types")
            option(valie='image') Image
            option(value='audio') Audio
            option(value='video') Video 
          <br>
          input(name='myImage' type='file')
          button.btn(type='submit') Submit
          


