doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title File Uploads #{tittle}
    //- link(rel='stylesheet' type='text/css' href='stylesheets/style.css') LINK DOESN'T WORK
   
    //- Form style retrieved from: Multi-Step Form with Progress Bar using jQuery and CSS3
    //-   https://www.sliderrevolution.com/resources/css-forms/
   
    style.
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);

      /*basic reset*/
      * {margin: 0; padding: 0;}
      html {        
        background: linear-gradient(rgba(94, 197, 118, 0.7), rgba(255, 203, 3, 0.7));
        font-family: montserrat, arial, verdana;
      }

      /*form styles*/
      #msform {
        width: 600px;
        margin: 50px auto;
        text-align: center;
        position: relative;
      }
      fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
      }

      /*inputs*/
      .input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }

      input::file-selector-button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }

      /*button*/
      button {
        width: 100px;
        background: #27AE60;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        text-decoration: none;
        font-size: 14px;
      }

      button:hover,
      button:focus {
        background: rgb(39, 174, 96, 0.7);
      }

      /*Select and Option*/
      select {
        background-color: white;
      }

      option {
        background-color: white;
        font-family: montserrat !important;
        color: #2C3E50;
      }

      /*Text area*/
      textarea {
        resize: none;
      }

      /*headings*/
      .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
      }
      .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
      }

  body

    .formbox
      form#msform(onSubmit = 'return true' method='POST' action='' enctype='multipart/form-data')
        fieldset
          h2.fs-title Upload a file
 
          h3.fs-subtitle Step 1: Type your name and 3-letter acronym
          input#fname.input(type="text" placeholder="First Name" name="fname")
          input#lname.input(type="text" placeholder="Last Name" name='lname')
          input#acronym.input(type="text" placeholder="3-letter Acronym" maxlength="3" name='acronym')
          h3.fs-subtitle Step 2: Select type of animal
          select#animal.input(name='animallist')
            option(value="empty")
            option(value="monk_parakeet") Monk Parakeet
            option(value='fiddler_crab') Fiddler Crab
          h3.fs-subtitle Step 3: Type location coordinates
          input#latitude.input(type="number" placeholder="Latitude" max="90" min="-90" name='latitude')
          input#longitude.input(type="number" placeholder="Longitude" max="180" min="-180" name='longitude')
          h3.fs-subtitle Step 4: Select type of file
          select#filename.input(name="filetypes" placeholder = "file types")
            option(value='image') Image
            option(value='audio') Audio
            option(value='video') Video
          h3.fs-subtitle Step 5: Upload the file
          input#upload.input(name='file' type='file' placeholder = 'select file')
          h3.fs-subtitle Step 6: Give comments -optional-
          textarea.input(nate='comments' type='text' maxlength='300' placeholder='Comments')
          h3.fs-subtitle Finally: Press Submit!
          #incomplete
          button#action-button.action-button(type='submit') Submit

    script(type='text/javascript' defer = '').
       const firstName = document.getElementById('fname');
       const lastName = document.getElementById('lname');
       const animal= document.getElementById('animal');
       const filename = document.getElementById('filename');
       const upload = document.getElementById('upload');
       const submit = document.getElementById('action-button');
       const inputs = document.querySelectorAll('.input');
       const form = document.getElementById('msform');
       const latitude = document.getElementById('latitude');
       const longitude = document.getElementById('longitude');
       const incomplete = document.getElementById('incomplete');
       const errors = false;
       form.addEventListener('submit', (e)=>{
       //incomplete.hidden = 'true';
       const messages = [];
        if(firstName.value === null || firstName.value === '')
        {
         e.preventDefault();
         messages.push('*First name Required');
        }
        if(lastName.value === null || lastName.value === '')
        {
         e.preventDefault();
         messages.push('*Last name Required');
        }
        if(latitude.value === null || latitude.value === '')
        {
         e.preventDefault();
         messages.push('*latitude Required');
        }
        if(longitude.value === null || longitude.value === '')
        {
         e.preventDefault();
         messages.push('*longitude Required');
        }
        if(upload.value === null || upload.value === '')
        {
         e.preventDefault();
         messages.push('*No file attached');
        }
        if(animal.value === null || animal.value === '')
        {
         e.preventDefault();
         messages.push('*Animal name required');
        }
        if(filename.value === null || filename.value === '')
        {
         e.preventDefault();
         messages.push('*File type required (step 4)');
         
        }
            const fileVal = filename.value;
            const uploadVal = upload.value;
            const extension = upload.value.slice((Math.max(0, upload.value.lastIndexOf(".")) || Infinity) + 1);
            if(fileVal == 'image')
            {
            if(extension != 'jpg' || extension != 'jpeg' || extension != 'png')
            {
                  e.preventDefault();
                  messages.push('Selected file type: Image does not correspond with attached file');
            }
            }
            if(messages.length > 0)
            {
                incomplete.innerText = messages.join(' \n');
                //incomplete.removeAttribute = 'hidden';

            }
        console.log('lol');
       });
           

if errors
 error.msg

