doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title File Uploads #{tittle}
    //- link(rel='stylesheet' type='text/css' href='stylesheets/style.css') LINK DOESN'T WORK 
    
    //- Form style retrieved from: Multi-Step Form with Progress Bar using jQuery and CSS3
    //-   https://www.sliderrevolution.com/resources/css-forms/
    
    style.
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);
      /*Color palete*/
      :root {
        --color-secondary:  #ffcb03;
      }
        
      html {        
        background: linear-gradient(rgba(94, 197, 118, 0.7), rgba(255, 203, 3, 0.7));
        font-family: montserrat, arial, verdana;
      }

      /*Back Button*/
      .back {
        display: flex;
        justify-content: flex-start;
      }
      .btn {
        padding: 0.8rem 2.5rem;
        background-color: var(--color-secondary);
        border: 0;
        font-size: medium;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      .btn:hover {
        background-color: var(--color-secondary-opacity);
      }
      a {
        text-decoration: none;
        color: white;
      }
      h1 { 
        text-align: center;
        margin-top: 0;
      }

      /*form styles*/
      .formbox {
        display: flex;
        justify-content: center;
      }
      form {
        width: 600px;
        text-align: center;
        display: flex;
        justify-content: center;
      } 
      fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 530px;
      }
      
      /*inputs*/
      .input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }
        
      input::file-selector-button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
      }
      
      /*button*/
      button {
        width: 100px;
        background: #27AE60;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        text-decoration: none;
        font-size: 14px;
      }
      
      button:hover,
      button:focus {
        background: rgb(39, 174, 96, 0.7);
      }
      /*Select and Option*/
      select {
        background-color: white;
      }
      
      option {
        background-color: white;
        font-family: montserrat, arial, verdana !important;
        color: #666;
      }
        
      /*Text area*/
      textarea {
        resize: vertical;
        max-height: 140px;
        min-height: 60px;
      }
      
      /*headings*/
      h2 {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
      }
      
      h3 {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 10px;
        margin-top: 20px;
      }

      #incomplete {
        color: red;
      }

      .twoInputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
      }
      #acronym { width: 64px; }

      /*For time input elements - works better in Chrome*/
      input[type='time']:before {
        content: attr(placeholder);
        -moz-appearance: none;
      }
      

  body
    img(src='images/user-1.jpg' alt='Testimony')
    .back
      a.btn(href='../data') Back
    h1 Upload a file
    .formbox
      form#msform(onSubmit = 'return true' method='POST' action='' enctype='multipart/form-data')
        fieldset
          h3.fs-subtitle Step 1: Insert your name and 3-letter acronym
          .twoInputs
            input#fname.input(type="text" placeholder="First Name" name="fname" value = 'bob')
            input#lname.input(type="text" placeholder="Last Name" name='lname' value = 'maria')
            input#acronym.input(type="text" placeholder="TLA" maxlength="3" name='acronym' value = 'DHF')
          h3.fs-subtitle Step 2: Select type of animal
          select#animal.input(name='animallist')
            option(value="" selected disabled)
            option(value="monk_parakeet") Monk Parakeet
            option(value='fiddler_crab') Fiddler Crab
          h3.fs-subtitle Step 3: Insert location coordinates 
          .twoInputs
            input#latitude.input(type="number" placeholder="Latitude" max="90" min="-90" name='latitude' value = '12')
            input#longitude.input(type="number" placeholder="Longitude" max="180" min="-180" name='longitude' value = '12')
          h3.fs-subtitle Step 4: Insert address of sighting
          input#address.input(type='text' placeholder='Ex.: 123 N. Main St., Brooklyn, NY 12345' name='address' value = '123 N. Main St., Brooklyn, NY 12345')
          h3.fs-subtitle Step 5: Date and start/end time of sighting 
          .twoInputs
            input#sdate.input(type='date' name='sdate' value = '2022-08-16')
            input#stime.input(type='time' name='stime' placeholder='Start')
            input#etime.input(type='time' name='etime' placeholder='End')
          h3.fs-subtitle Step 6: Select type of file
          select#filename.input(name="filetypes" placeholder = "file types")
            option(value='' selected disabled)
            option(value='image') Image
            option(value='audio') Audio
            option(value='video') Video
          h3.fs-subtitle Step 7: Upload the file
          input#upload.input(name='file' type='file' placeholder = 'select file')
          h3.fs-subtitle Step 8: Give comments -optional-
          textarea.input(name='comments' type='text' maxlength='300' placeholder='Comments')
          h3.fs-subtitle Finally: Press Submit!
          #incomplete
          button#action-button.action-button(type='submit') Submit

    script(type='text/javascript' defer = '').
      const firstName = document.getElementById('fname');
      const lastName = document.getElementById('lname');
      const acronym = document.getElementById('acronym')
      const animal= document.getElementById('animal');
      const filename = document.getElementById('filename');
      const upload = document.getElementById('upload');
      const submit = document.getElementById('action-button');
      const inputs = document.querySelectorAll('.input');
      const form = document.getElementById('msform');
      const latitude = document.getElementById('latitude');
      const longitude = document.getElementById('longitude');
      const address = document.getElementById('address');
      const sdate = document.getElementById('sdate');
      const stime = document.getElementById('stime');
      const etime = document.getElementById('etime');
      const incomplete = document.getElementById('incomplete');
      const errors = false;

      // ----------------
      // Input validation
      // ----------------
      form.addEventListener('submit', (e)=>{
        //Stores messages for incomplete fields
        const messages = [];
        
        // Evaluate 'fname' and 'lname' input fields
        if(!/[a-zA-Z .]+/.test(firstName.value) || !/[a-zA-Z .]+/.test(lastName.value))
        {
          e.preventDefault();
          messages.push('*First and Last Name Required. Only alphabetic characters or a dot (.) - Step 1');
        }
        // Evaluate 'acronym' input field
        if (!/[A-Z]{3}/.test(acronym.value))
        {
          e.preventDefault();
          messages.push('*TLA - Type 3 capital letters')
        }
        if(latitude.value === null || latitude.value === '')
        {
          e.preventDefault();
          messages.push('*Latitude Required');
        }
        if(longitude.value === null || longitude.value === '')
        {
          e.preventDefault();
          messages.push('*Longitude Required');
        }
        // Using Regular Expressions to validate the correct format of the address
        // Ex. 4325 W. Palm Beach Rd., San Francisco, CA 94116
        if(upload.value === null || upload.value === '')
        {
         e.preventDefault();
         messages.push('*No file attached');
          messages.push('*TLA - Type 3 capital letters - Step 1')

        }
        // Evaluate 'animal' input field
        if(animal.value === null || animal.value === '')
        {
          e.preventDefault();
          messages.push('*Animal name required - Step 2');
        }
        // Evaluate 'latitude' and 'longitude' input fields
        if(latitude.value === '' || longitude.value === '')
        {
          e.preventDefault();
          messages.push('*Latitude and Longitude Required - Step 3');
        }
        // Evaluate 'address' input field
        // Using Regular Expressions to validate the correct format of the address
        // Ex. 4325 W. Palm Beach Rd., San Francisco, CA 94116
        const addressF = /^(\d* [a-zA-Z .]*), ([a-zA-Z ]*), ([A-Z]{2}) (\d{5})$/;
        if(!addressF.test(address.value))
        {
          e.preventDefault();
          messages.push('*Wrong address format - Step 4');
        }
        // Evaluate 'sdate' 'stime' and 'etime' input fields
        if(sdate.value === '' || stime.value === '' || etime.value === '')
        {
          e.preventDefault();
          messages.push('*Date and time Required - Step 5');
        }
        // Evaluate 'file name' input field
        if(filename.value === null || filename.value === '')
        {
          e.preventDefault();
          messages.push('*File type required - Step 6'); 
        }
        // Evaluate 'upload' input field
        if(upload.value === null || upload.value === '')
        {
          e.preventDefault();
          messages.push('*No file attached - Step 7');
        }


        
        const fileVal = filename.value;
        const uploadVal = upload.value;
        let extension = upload.value.slice((Math.max(0, upload.value.lastIndexOf(".")) || Infinity) + 1);
        extension = extension.toLowerCase()
        if(fileVal == 'image')
        {
        if(extension != 'jpg' || extension != 'jpeg' || extension != 'png')
        {
          e.preventDefault();
          messages.push('Selected file type: Image does not correspond with attached file');
        }
        }
        if(messages.length > 0)
        {
          incomplete.innerText = messages.join(' \n');
          //incomplete.removeAttribute = 'hidden';
        }
        console.log('lol');
       });
           

if errors
 error.msg



