doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Upload success
    link(rel='stylesheet' type='text/css' href='stylesheets/tester.css')
  body 
    .message
      p
        span You 
        | have successfuly uploaded a file to our database
      button#done Done

    script(type='text/javascript' defer). 
      const done = document.getElementById('done');
      // Redirects back to options page
      done.addEventListener('click', () => {
        document.location.href = "/options";
      });